<div class="container">
  <div class="row" style="width: 100%;">
      <div class="col-lg-6 offset-lg-3">
          <div class="card text-center shadow" style="padding: 20px;">
              <div class="header">
                  <h3 class="titulo">Add new</h3>
              </div>
              <form [formGroup]="datosMovie" (ngSubmit)=registrarMovie() style="padding-top: 10px;">
                  <div class="form-group" style="text-align: start;">
                      <input type="text" class="form-control" placeholder="Ingrese el titulo"
                          formControlName="titulo">
                      <span class="text-danger ml-1"
                          *ngIf="datosMovie.get('titulo').hasError('required') && datosMovie.get('titulo').touched">
                          El titulo <strong>es requerido</strong>
                      </span>
                  </div>
                  <div class="form-group" style="text-align: start;">
                    <input type="number" class="form-control" placeholder="Ingrese el año"
                        formControlName="year">
                    <span class="text-danger ml-1"
                        *ngIf="datosMovie.get('year').hasError('required') && datosMovie.get('year').touched">
                        El año <strong>es requerido</strong>
                    </span> 
                  </div>
                  <div class="form-group" style="text-align: start;">
                    <input type="text" class="form-control" placeholder="Ingrese el genero"
                        formControlName="genre">
                    <span class="text-danger ml-1"
                        *ngIf="datosMovie.get('genre').hasError('required') && datosMovie.get('genre').touched">
                        El genero <strong>es requerido</strong>
                    </span> 
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary btn-reg" [disabled]="datosMovie.invalid"
                          type="submit">Registrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="card shadow" >
        <div class="table-responsive">
            <div class="table-wrapper">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th (click)="ordenarYear()">Year</th>
                            <th>Genres</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let movie of listMovies;index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{movie.title}}</td>
                            <td>{{movie.year}}</td>
                            <td>{{movie.genre}}</td>
                            <td>
                                <a (click)="eliminarMovie(i)" class="eliminar" title="Eliminar"
                                    data-toggle="tooltip"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<h3 *ngIf="listMovies.length == 0">No hay registros de movies</h3>